.checkout h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.checkout h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.form-group{
text-align:start;
display: flex;
margin: auto;
flex-direction: column;
width: 300px;
border-color: blueviolet;
margin-bottom: 10px;}

.form-button{
    align-items: center;
    
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: blueviolet;
    border-color: blueviolet;
}
.message{
    text-align: center;
    color: blueviolet;
}