
<div class="add-product">
    <h1>Update Product</h1>
    <p class="p-message">{{addProductMessage}}</p>
    <form #updates="ngForm" (ngSubmit)="updated(updates.value)">
       
        <input type="text" class="form-control" ngModel="{{productdata?.name}}" name="name" placeholder="Enter Product name" />
        <input type="text" class="form-control" ngModel="{{productdata?.price}}" name="price" placeholder="Enter Product price" />
        <input type="text" class="form-control" ngModel="{{productdata?.color}}" name="color" placeholder="Enter Product Color" />
        <input type="text" class="form-control" ngModel="{{productdata?.Category}}" name="Category" placeholder="Enter Product Category" />
        <textarea type="text" class="form-control" ngModel="{{productdata?.Description}}" name="Description" placeholder="Enter Description" ></textarea>
        <input type="text" class="form-control" ngModel="{{productdata?.image}}" name="image" placeholder="Enter Product image" />
        <button type="submit" class="btn btn-success">Add Product</button>
    </form>
</div>
